<p id="notice"><%= notice %></p>

<p>
  <b>Student registration:</b>
  <%= @grade.student_registration_id %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
