<table class="dtable table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tutor</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <% @workshops.each do |workshop| %>
    <tr>
    <td><%= link_to workshop.name, workshop_path(workshop) %></td>
    <td><%= workshop.tutor_name %></td>
    <td><%= workshop.notes %></td>
  </tr>
<% end %>
  </tbody>
</table>
