<%=render "shared/year_end_report_shared_show" %>
<div class="form-actions">
  <%= link_to "Year End Reports", year_end_reports_path, :class => 'btn'  %>
  <%= link_to "Edit", edit_year_end_report_path(@year_end_report), :class => 'btn' %>
  <%= link_to "Delete", year_end_report_path(@year_end_report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
