<div class="page-header">
  <h1>Attendance Sheet</h1>
  <h3><%=format_date(@attendance_sheet.session_date)%></h3>
</div>

<div class="row">
  <div class = "span5 offset1">
    <table class="dtable table table-striped table-bordered">
      <caption><b>Present</b></caption>
      <thead>
        <tr>
          <th>Name</th><th>Attended?</th>
        </tr>
      </thead>
      <tbody>
      <%@attendance_sheet.attendances.each do|attendance|%>
        <tr ><td><%=attendance.student_name%></td><td class="<%=attendance.attended? ? 'failure': 'success'%>"> <%=attendance.attended? ? "Yes":"No"%></td></tr>
    <%end%>
      </tbody>
    </table>
  </div>
</div>
