<%=content_for :page_hdr do%>
 Edit Report Card
<%end%>
<%= render :partial => 'form' %>

<%if @report_card.transcript.attached?%>
  <h4>Uploaded Report card</h4> <%=link_to image_tag("report_card.jpeg"), rails_blob_path(@report_card.transcript, disposition: "attachment")%>
<%else%>
  please only upload a PDF or scanned copy of your report card.
<%end%>


