<table id="grades_table" >
  <thead>
    <tr>
      <th>Letter</th><th>Min</th><th>Max?</th>
    </tr>
  </thead>
  <tbody>
  <%=f.simple_fields_for(:grade_converters) do |builder|%>
    <%= render :partial => 'grade_converter_fields', locals: {f: builder} %>
<%end%>
  </tbody>
</table>
<%= link_to_add_converter_fields "Add Grade", f %>
