<tr>
  <td><%= f.input :subject_id, collection: Subject.all.map{|s|[s.name, s.id]} , label:false, wrapper_html: { class: 'no-left-margin' }  %></td>
  <td><%= f.input_field :value, class: "grade_value", label:false %></td>
  <td><%= f.hidden_field :_destroy %><%= link_to "remove", '#', class: "remove_fields" %></td>
</tr>
