<div class="hero-unit">
  <h1>PWF Registration</h1>
  </br>
  </br>
	<p>Registration for new students is currently closed. Please check our main website registration page for more details.  <a href="www.peterwestbrook.org/registration">PWF Registration</a></p>
    <p>If you need assistance please email <%=mail_to "registration@peterwestbrook.org", "registration@peterwestbrook.org"%> </p>
</div>
