<div class="hero-unit">
  <h1>2013-2014 PWF Registration</h1>
  </br>
  <p>
  <strong>Update as of: <%=format_date(Time.now)%></strong>
  </br>
    We found a glitch in the online registration that prevented some parents from completing the registration. It should be resolved shortly.In light of this and 
    to make sure everything is ok we are pushing back registration until Tomorrow June 16
    Thanks for your patience.
  
  </p>
  </br>
  <p>Registration will open tomorrow June 16, 2013 at 9am for currently enrolled students and wait-listed students from last year only.<p>
    <p style="font-size:16px">General Registration will open for new students on July 1, 2013 </p>
    <p>If you need assistance please email <%=mail_to "registration@peterwestbrook.org", "registration@peterwestbrook.org"%> </p>
</div>
