<div class="hero-unit">
  <h1>2013-2014 PWF Registration</h1>
  </br>
  <p>Re-Registration will open today June 15, 2013 at 3pm for currently enrolled students and wait-listed students from last year only.<p>
    <p style="font-size:16px">General Registration will open for new students on July 1, 2013 </p>
    <p>If you need assistance please email <%=mail_to "registration@peterwestbrook.org", "registration@peterwestbrook.org"%> </p>
</div>
