<div class="hero-unit">
  <h1>2014-2015 PWF Registration</h1>
  </br>
  </br>
  <p>Registration for the 2014-2015 season will open July, 1 2014 for currently enrolled students and wait-listed applicants from 2013-2014 only.<p>
    <p style="font-size:16px">General Registration will open for new students on July 14, 2014 </p>
    <p>If you need assistance please email <%=mail_to "registration@peterwestbrook.org", "registration@peterwestbrook.org"%> </p>
</div>
