<div class="hero-unit">
  <h1>Registration closed or offline.
    <p>As of today: <%=format_date(Time.now) %> Registration for the Peter Westbrook Foundation Saturday Program is currently closed or offline. </p>
    <p>If you need assistance please email <%=mail_to "info@peterwestbrook.org", "Info@peterwestbrook.org"%> </h1>
</div>
