<div class="site-identification">
  <h1>Peter Westbrook Foundation</h1>
  <h3>Fencing and Academic Programs Registration</h3>
</div>

<article class="home-page-blurb">
  Welcome to our fencing and academic programs website. If you are looking for general information about our organization please visit our main website <%=link_to "PWF Main Website", "http://www.peterwestbrook.org"%>
</article>


<section class="login-section">
  <h4>Login & Registration </h4>
  <%=link_to "Sign In", login_path %>
  <%=link_to "Create Account", new_user_registration_path, :id => "new_registration"  %>
</section>
