
<div class="site-identification">
  <%=image_tag ("logo-black.svg")%>

  <div class="site-identification-text">
    <h1>Peter Westbrook Foundation</h1>
    <h3>Fencing and Academic Programs</h3>
  </div>

  <section class="login-section">
    <p><%=link_to "Sign In", login_path %> or <%=link_to "Register", new_user_registration_path, :id => "new_registration"%></p>
  </section>

</div>



