<div class="hero-unit">
  <h1 class="sub-hero" ><%=current_season.try(:description)|| "#{Time.now.year} Season" %> Registration</h1>
  <div class="row-fluid">
    <div class="span6" >
      <%=link_to "New Registrants Click Here", new_parent_registration_path, :id => "new_registration", :class=>"btn btn-primary btn-large btn-fat"%>
    </div>
    <div class="span6 ">
      <%=link_to "Sign In With exsting Account", login_path, :class=>"btn btn-primary btn-large btn-fat"%>
    </div>
  </div>
</div>
