<div class="hero-unit">
    <h1><%=current_season.description%> Registration</h1>
</div>
<div class="row">
  <div class="span3" >
    <%=link_to "New to the PWF? Click here to register", new_parent_registration_path, :id => "new_registration", :class=>"btn btn-primary btn-large"%>
  </div>
  <div class="span3 offset1">
    <%=link_to "Returning parents click here to sign in", login_path, :class=>"btn btn-primary btn-large"%>
  </div>
</div>
