<%=render "shared/monthly_report_shared_show"%>

<div class="form-actions">
  <%= link_to "Edit",
    monthly_reports_path, :class => 'btn'  %>
  <%report_collection_links(@monthly_report)%>
  </div>
