<div id="app">
  <div>
    <attendance-tile
      v-for="student in students"
      v-bind:attendee="student"
      v-bind:key="student.id">
    </attendance-tile>
  </div>
</div>
<!--div class="attendance-form">
  <%# form_for [:admin, @attendance_sheet]  do |sheet| %>
    <%#sheet.fields_for :attendances  do |attendance|  %>
      <%#attendance.label :attended, " #{attendance.object.student_name}", :class=> "attendance" %>
      <%#attendance.check_box :attended %>
    <#end%>
  <# end %>
</div-->


