<%=render "shared/monthly_report_shared_show"%>

<div class="form-actions">
  <%= link_to "Monthly Reports", mgr_monthly_reports_path, :class => 'btn'  %>
  <%= link_to "Edit", edit_mgr_monthly_report_path(@monthly_report), :class => 'btn' %>
  <%= link_to "Delete", mgr_monthly_report_path(@monthly_report),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
</div>
