<div class="page-header">
  <h1>Parents</h1>
  <h3><%=current_season.term%></h3>
</div>
<div class="row">
  <div class="span4">
      <ol>
        <% Parent.in_aep.each do |parent| %>
          <li><%= link_to parent.name, mgr_parent_path(parent) %></li>
        <% end %>
      </ol>

  </div> 

  <div class="span4">
      <ol>
        <% Parent.not_in_aep.each do |parent| %>
          <li><%= link_to parent.name, mgr_parent_path(parent) %></li>
        <% end %>
      </ol>
  </div>
</div>