<p id="notice"><%= notice %></p>

<p>
  <b>Ethnicity:</b>
  <%= @mgr_ethnicity.Ethnicity %>
</p>


<%= link_to 'Edit', edit_mgr_ethnicity_path(@mgr_ethnicity) %> |
<%= link_to 'Back', mgr_ethnicities_path %>
