<div class="page-header">
  <h1>AEP Session Attendance</h1>
  <h3><%=format_date(@aep_session.session_date)%></h3>
</div>
<%= render :partial => 'form' %>
<p id="absent-key"></p>
<p id="present-key"></p>
