<%content_for :page_hdr do%>
  Dashboard
<%end%>

<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%=current_user.student_registrations.current.count%></h3>
        <p>Students</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <%=link_to students_path, class:"small-box-footer" do%>
        Details <i class="fa fa-arrow-circle-right"></i>
      <%end%>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>65</h3>

        <p>Enrolled in AEP</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>






