
<ul>
  <li><%=link_to "Create Tutor", new_tutor_path%> </li>
  <li><%=link_to "Tutor List", tutors_path%></li>
  <li><%=link_to "Create tutoring assignment", new_tutoring_assigments_path%></li>
</ul>


Tutors: <%=Tutor.count%>
