@import "variable_overrides";

.pwf-user-widget{
  &.card-footer {
    padding: 0px;
  }
}

.invoice {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}
