// Active Admin CSS Styles

@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_blaze_theme/theme";
@import "site/misc";
@import "chosen";
@import 'activeadmin/medium_editor_input';
@import 'activeadmin/medium_editor/themes/default';
@import 'admin/attendance';

form.formtastic  ol.choices-group li {
  float:left;
  padding-right:10px;
}
/*  Hack  to move items off page*/


.dropdown.v-select {
  min-width: 200px;
  .dropdown-toggle{
    button.clear {
      background-image: none;
      border: none;
       text-shadow:none;
     box-shadow: none;
    }
  } 

  input[type='search'] {
    width: 190px;
    position: absolute;
  }

  .selected-tag {
    z-index: 1;
  }
}

.grade-error{
   color: red;
}

body.active_admin form fieldset.inputs {
  input[type='datetime-local'],
  input[type='email'], 
  input[type='number'], 
  input[type='password'], 
  input[type='search'],
  input[type='tel'],
  input[type='text'], 
  input[type='time'], 
  input[type='url'], select,
  textarea{
    min-width: 250px;
  }

  .chosen-drop>.chosen-search {
    input[type='text']{
      min-width: auto;
      width: 100%;
    }
  }
}


body.active_admin.admin_general_notification{
  #main_content {
    margin: 0;
    padding: 25px 20px;
    width: calc(100% - 450px);
  }

  #active_admin_content #sidebar {
    width: 450px;
    margin-left: -350px;

  }

  .recipient-list {
    height: 400px;
    overflow: scroll;
    table {
      th{
        background-color: #CCC ;
      }

      tr:nth-child(even) {background: #F5F5F5}
      tr:nth-child(odd) {background: #FFF}
    }
  }

}

.confirmation-msg{
  text-align: center;
}

.chosen-wrap{
  width: 100%;
}

.sidebar {
  .chosen-container:not(.chosen-container-multi){
    position: absolute;
  }
}
.grades-list{
  height: 500px;
}
.grade-form >*{
   margin-left: 2px;
   margin-right: 2px;
   display:inline-block;
}

.grades-panel{
  a.del-icon{
    text-decoration: none;
    color: #932419;
    &:hover{
      cursor: pointer;
    }
  }
}

.grade-format-missing{
  background-color: #fae6e4;
  padding: 5px;
  color:  #932419;
  margin-bottom: 10px;
}

.grade-format-hint{
  color: #932419;
  margin-left: 20%;
  margin-top: -30px;
}

label{
  .field_with_errors{
    display: inline;
  }
}

form input[type=date] {
  width: auto; 
}

.clear-fix{
  clear: both;
}

.dashboard-cell{
  margin: 2em 4em;
  width: 100%;
 float: left;
}


form.filter_form .filter_form_field {
    margin-bottom: 20px;
}

.text-center{
  text-align: center;
}

.scope.selected{
  a.table_tools_button{
    background-color: #2b3e50;
  }
}

.panel_contents table tr.odd td {
  background: #fff; 
}



.active_admin form {
  textarea.mail-message{
    height: 300px;
  }

  input.mail-subject{
    border-radius: 4px;
    line-height: 1.45rem;
    width: 100%;
    padding: .25em;
    border: 1px solid #96a8b2;
  }
}

.active_admin form .medium-editor.medium-editor-element{
  height: 300px;
  border-radius: 4px;
  border: 1px solid #96a8b2;
  width: 100%;
}

.inline{
  display: inline-block;
}

.form-elmenent-grp{
  padding: .4em .25em;
  margin-bottom: 20px;

  label{
    margin-bottom: 5px;
    input[type='radio']{
      margin-left: 0.4em;
    }

  }
}


ul.table_tools_segmented_control{
  display: inline-block;
  margin-right: 50px;
  line-height: 30px;

  &:before {
    float: left;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #2c3e50;
  }

  &.scope-group-main:before {
    content: "Confirmed";
  }

  &.scope-group-status:before {
    content: "Unconfirmed";
  }

  &.scope-group-current:before {
    content: "Current:";
  }

  &.scope-group-alumni:before {
    content: "Alumni:";
  }

  &.scope-group-historical:before {
    content: "Historical:";
    color: #5e6469;
  }
}

//ul.table_tools_segmented_control.scope-group-status:before {
    //content: "Not Enrolled";
    //float: left;
    //padding: .4em;
//}


.mailing-info{

  padding: 10px;

  .mailing-grp-name{
    color: darkgreen;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
  }

  .mailing-grp-details{
    font-size: 18px;
  }

}
