h1.page-title {
padding:20px;
}

ul.no-bullet {
  list-style-type:none;
}

ul.no-bullet > li.inline {

padding-right:15px;
}

a.big-link {
font-size:16px;
font-weight:bold;
}

.cell-text {
padding: 0px 5px;
}
