
/*h1.page-title {
  padding:20px;
}

ul.no-bullet {
  list-style-type:none;
}

ul.no-bullet > li.inline {

  padding-right:15px;
}

a.big-link {
  font-size:16px;
  font-weight:bold;
}

.cell-text {
  padding: 0px 5px;
}

.total-amount {
  font-size: 16px;
  font-weight: bold;
}

.invoice {

  .header {
    padding-bottom:10px;
    label {
      font-size: 14px;
      font-weight: bold;
      padding-bottom:5px;
      span {
        font-weight:normal;
        padding-left: 5px;
      }
  }}
  th {
    font-size:14px;
  }

  caption {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
  }
  h2 {
    p {
      font-size: .75em;
      font-weight:normal
    }

  }
  h3 {
    padding:10px;
    padding-left:0px;
    color: SlateGray;
  }
  h4 {
    padding:10px;
    padding-left:0px;
    color: SlateGray;
  }

}

ul.payment-methods {
  margin-left:0px;
  padding-bottom: 50px;
  input[radio-button] {
    // display:inline;
  }
  list-style-type:none;
  li {
    display:block;
    float:left;
    padding-right:15px;
  }


}
#billing_fields {
  clear:both;
  display:block;

}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.button-actions {
  margin-top:20px;

}

.btn-fat {
  min-height:50px;
  font-weight:bold;
  font-size:24px;
  margin-top: 10px;
}

h1.sub-hero {
  padding-bottom:60px;
  font-size: 48px;
}

.registration-payment-detail {
  font-size: 14px;
  span{
    padding:10px;
    em {
      font-weight:bold;
    }
  }

}

textarea {
  resize: none;
}

.page-header{
  h1 {
    span{
      padding-left:10px;
      font-size: 16px;
    }
  }
}

#parent-links{
 li>a#pay.pay-fee{padding-left: 10px;}

 }
 */
