td.comment{
 max-width: 200px;
}


table#registration_schedule{
  margin-bottom:20px;
  margin-top:50px;
  line-height: 2.5em;
  caption {
    font-weight:bold;
    font-size: 18px;
    line-height:24px;
   }
 th,td{
   text-align:left;
   padding: 0 10px
 }
 
}
