
<div class ="row">
  <div class="col-sm-8 mx-auto my-5">
    <h2 class="text-center my-4"> Thanks for updating your profile and helping us manage the waitlist!</h2>

    <p>
    If you have asked to keep your spot on the waitlist open,  we will notify you if and when space becomes available in the program.
    </p>

    <p>
    Thanks again for your cooperation.
    </p>
  </div>
</div>
