<div ng-app="PWFApp" ng-controller="FencingAttendanceController">
  <div class="page-header">
    <h1>Attendance Sheet</h1>
    <h3>{{session_date}}</h3>
  </div>
  <%=text_field_tag "nameFilter", nil , 'ng-model'=>"search.name" %>
  <select ng-model="search.groupId" ng-options="obj.id as obj.name for obj in groups" ng-change="checkGroupFilter()">
    <option value="">All</option>
  </select> 
  <label stlye="display:inline">Show groups for unassigned
    <input type="checkbox" ng-model="search.showGroups" ngTrueValue="true" ngFalseValue="true"> 
  </label>
  <ul class="attendance-container thumbnails">
    <li ng-repeat="student in students | filter:{groupId: search.groupId, name:search.name}"  ng-class="{'attended': student.attended, 'absent':!student.attended}" class=" span3 attendance"  ng-click="toggleAttendance(student)" >
      <div class="thumbnail student-name" >
        {{student.name}}
      </div>
      <!--div ng-show="isUnassigned(student)"> 
        <label ng-repeat="group in groups | filter: {id: '!-1'}" style="display:inline">
          <input type="radio" ng-model="student.groupId" value="{{group.id}}" ng-Change="assignGroup(student)"> {{shortName(group.name)}} 
        </label>
      </div-->
    </li>
  </ul>
</div>
</div>
